*{
    margin: 0;
    border: border-box;
    font-family: arial;
}

.nav-bar{
    height: 60px;
    background-color: #0f1111;
}
.amazon-logo{
    height: 50px;
    width: 100px;
}

.logo{
    height: 50px;
    width: 100%;
    background-image: url("amazon_logo.png");
    background-size: cover;
   
}